@page
@model HospiEnCasa.App.FrontEnd.Pages.DetailMedicoModel
@{
}
<h1>Detalle médico</h1>
<ul>
    <li>Nombre: @Model.Medico.Nombre</li>
    <li>Apellidos: @Model.Medico.Apellidos</li>
    <li>Número de Telefono: @Model.Medico.NumeroTelefono</li>
    <li>Genero: @Model.Medico.Genero</li>
    <li>Especialidad: @Model.Medico.Especialidad</li>
    <li>Código: @Model.Medico.Codigo</li>
    <li>Registro Rethus: @Model.Medico.RegistroRethus</li>
</ul>
