@page
@model HospiEnCasa.App.FrontEnd.Pages.DetailEnfermeraModel
@{
}
<h1>Detalle enfermera/o @Model.Enfermera.Nombre</h1>
<ul>
    <li>Nombre: @Model.Enfermera.Nombre</li>
    <li>Apellidos: @Model.Enfermera.Apellidos</li>
    <li>Número de Teléfono: @Model.Enfermera.NumeroTelefono</li>
    <li>Genero: @Model.Enfermera.Genero</li>
    <li>Tarjeta Profesional: @Model.Enfermera.TarjetaProfesional</li>
    <li>Horas Laborales: @Model.Enfermera.HorasLaborales</li>
</ul>
