@page
@model HospiEnCasa.App.FrontEnd.Pages.ListEnfermerasModel
@{
}
<h1>Gestionar Enfermeras/os</h1>
<p>En esta página podras gestionar las/os Enfermeras/os </p>
<a class="btn btn-primary" asp-page="./CreateEnfermera">Agregar Enfermera/o</a>
<table class="table table-dark">
    <tr>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Número telefono</th>
      <th scope="col">Genero</th>
      <th scope="col">Tarjeta Profesional</th>    
      <th scope="col">Acciones</th>     
    </tr>
    @foreach (var enfermera in Model.enfermeras)
    {
        <tr>
            <td>@enfermera.Nombre</td>
            <td>@enfermera.Apellidos</td>
            <td>@enfermera.NumeroTelefono</td>
            <td>@enfermera.Genero</td>
            <td>@enfermera.TarjetaProfesional</td>
            <td><a class="btn btn-primary table-btn" asp-page="./DetailEnfermera" asp-route-id="@enfermera.Id">Detalles</a>
            <a class="btn btn-primary table-btn" asp-page="./EditEnfermera" asp-route-id="@enfermera.Id">Editar</a>
            <a class="btn btn-primary table-btn" asp-page="./RemoveEnfermera" asp-route-id="@enfermera.Id">Eliminar</a>
            <br>
        </tr>      
    }
</table>
